{{- if and .Values.opensearch.enabled .Values.opensearch.tls.generate }}
{{- $prefix := include "reana.prefix" . }}
{{- $tlsSecretName := printf "%s-%s" $prefix "opensearch-tls-secrets" }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $tlsSecretName }}
  namespace: {{ .Release.Namespace }}
type: kubernetes.io/tls
data:
  {{- $idx := lookup "v1" "Secret" .Release.Namespace $tlsSecretName -}}
  {{- if $idx }}
  tls.crt: {{ index $idx.data "tls.crt" }}
  tls.key: {{ index $idx.data "tls.key" }}
  admin.crt: {{ index $idx.data "admin.crt" }}
  admin.key: {{ index $idx.data "admin.key" }}
  ca.crt: {{ index $idx.data "ca.crt" }}
  {{ else }}
  {{- $ca := genCA .Values.opensearch.tls.ca.cn (.Values.opensearch.tls.ca.ttl | int) }}
  {{- $cert := genSignedCert .Values.opensearch.tls.cert.cn nil (list .Values.opensearch.tls.cert.cn) (.Values.opensearch.tls.cert.ttl | int) $ca }}
  {{- $certAdmin := genSignedCert .Values.opensearch.tls.admin.cn nil (list .Values.opensearch.tls.cert.cn) (.Values.opensearch.tls.admin.ttl | int) $ca }}
  tls.crt: {{ $cert.Cert | b64enc | quote }}
  tls.key: {{ $cert.Key | b64enc | quote }}
  admin.crt: {{ $certAdmin.Cert | b64enc | quote }}
  admin.key: {{ $certAdmin.Key | b64enc | quote }}
  ca.crt: {{ $ca.Cert | b64enc | quote }}
  {{- end }}
{{- end }}
