{{- if .Values.pgbouncer.enabled }}
{{- $dbUser := "reana" }}
{{- if hasKey .Values.secrets.database "user" }}
{{- $dbUser = .Values.secrets.database.user }}
{{- end }}
{{- $dbPassword := "reana" }}
{{- if hasKey .Values.secrets.database "password" }}
{{- $dbPassword = .Values.secrets.database.password }}
{{- end }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "reana.prefix" . }}-pgbouncer-secrets
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/resource-policy": keep
type: Opaque
data:
  userlist: {{ printf "%s %s" ($dbUser | quote) ($dbPassword | quote) | b64enc}}
{{- end }}
